<!--The content below is only a placeholder and can be replaced.-->
<div id="content" class="container-fluid mx-auto">
    <div class="row">
      <div class="col-sm">
        <h2 id="pageTitle">{{pageTitle}}</h2>
      </div>
    </div>
    <div class="row mx-auto">
      <div class="col-sm">
        <!-- FORMAT FILLER -->
      </div>
      <div class="col-sm">
        <app-books-search></app-books-search>
      </div>
      <div class="col-sm">
        <!-- FORMAT FILLER -->
      </div>
    </div>
  <br>
    <div class="row">
      <div class="col-sm">
        <!-- Bookshelf -->
        <!-- TODO INSERT ROWS HERE WITH A BORDER SO IT LOOKS SIMILAR TO A BOOKSHELF -->
        <app-bookshelf></app-bookshelf>
      </div>
      <div class="col-sm" >
        <!-- FORMAT FILLER -->
      </div>
      <div class="col-sm">
        <!-- Search Return -->
        <books-search-result></books-search-result>
      </div>
    </div>
</div>
